.paginaLogin{
    @include imagem("img/fundos/FundoLogin.png","1920px","1280px");
}
.loginh{
    width: 100%;
    display: flex;
    // @include centraliza();
    padding: 15px;
    height: 20vh;
    // background-color: #161616;
}
.loginb{
    color: white;
    width: 40%;
    // margin-top: 7%;
    height: 40vh;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(15, 15, 15, 0.87);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
  
    div{
        display: flex;
        @include centraliza();
        height: 10vh;
        input{
            color: white;
            padding: 0px;
            width: 40%;
            height: 50px;
            border-radius: 16px;
            font-size: 16px;
            // color: black;
            padding-left: 20px;
            background: rgba(196, 196, 196, 0.11);
            border: 1px solid #000000;
            border-radius: 15px;
            &:hover{
                border-radius: 16px;
                box-shadow: 0px 0px 10px $primaria;
                outline: 0px;
            }
            &:focus{
                border: 2px solid $primaria;
                border-radius: 16px;
                box-shadow: 0px 0px 10px $primaria;
                outline: 0px;
            }
        }
    }
}