* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer {
  border-top: 1px solid black;
}

.btn {
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #004D4D;
  border-radius: 10px;
  color: #004D4D;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #004D4D;
}

.btn-concluir {
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #06dd06;
  border-radius: 10px;
  padding: 12px;
  color: #06dd06;
  transition: all 400ms;
  min-width: 150px;
  max-width: 150px;
  text-decoration: none;
  cursor: pointer;
}

.btn-concluir:hover {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #06dd06;
}

.red-btn {
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: #DD0426;
  transition: all 400ms;
  min-width: 125px;
  max-width: 125px;
  height: 61;
  cursor: pointer;
  border: 1px solid #DD0426;
}

.red-btn:hover {
  background-color: #DD0426;
  color: #f2f2f2;
  text-decoration: none;
}

.amarelo-edita {
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: #b38f00;
  transition: all 400ms;
  min-width: 125px;
  max-width: 125px;
  height: 61;
  cursor: pointer;
  border: 1px solid #b38f00;
}

.amarelo-edita:hover {
  background-color: #b38f00;
  color: #f2f2f2;
  text-decoration: none;
}

.btn-efect {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  color: #004D4D;
}

.btn-efect:hover {
  color: white;
  background-color: #004D4D;
  -webkit-box-shadow: 0 0 10px #004D4D, 0 0 0px #004D4D, 0 0 20px #004D4D;
          box-shadow: 0 0 10px #004D4D, 0 0 0px #004D4D, 0 0 20px #004D4D;
}

.btncromado {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 53px;
  border: 1px solid black;
  border-radius: 20px;
  color: #161616;
  background: -webkit-gradient(linear, right top, left top, from(#9B51E0), to(#0693E3));
  background: linear-gradient(to left, #9B51E0, #0693E3);
  transition: all 400ms;
  background: linear-gradient(281.04deg, #9B51E0 0%, #0693E3 100%);
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.btncromado:hover {
  color: #004D4D;
  border: 1px solid #004D4D;
}

.texto {
  font-size: 14px;
}

.legenda {
  color: #a6a6a6;
}

@-webkit-keyframes neon {
  from {
    -webkit-filter: drop-shadow(0 0 0 #004D4D);
            filter: drop-shadow(0 0 0 #004D4D);
  }
  to {
    -webkit-filter: drop-shadow(0 0 30px #004D4D);
            filter: drop-shadow(0 0 30px #004D4D);
  }
}

@keyframes neon {
  from {
    -webkit-filter: drop-shadow(0 0 0 #004D4D);
            filter: drop-shadow(0 0 0 #004D4D);
  }
  to {
    -webkit-filter: drop-shadow(0 0 30px #004D4D);
            filter: drop-shadow(0 0 30px #004D4D);
  }
}

.tmodern {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #004D4D;
  color: transparent;
  -webkit-animation: neon 3s alternate infinite ease-in-out;
          animation: neon 3s alternate infinite ease-in-out;
}

.primaria {
  color: #004D4D;
}

.centraliza {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 5vh;
  width: 100%;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table {
  width: 100%;
  border: 1 solid grey;
  border-collapse: collapse;
}

table thead tr:hover {
  background-color: rgba(0, 0, 0, 0);
}

table th {
  border-bottom: 1px solid black;
  width: 500px;
  font-size: 20px;
  color: #000000;
  padding: 20px;
}

table tr {
  width: 500px;
}

table tr .md {
  border-left: 1px solid #004D4D;
  border-right: 1px solid #004D4D;
}

table tr td {
  padding: 40px;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu {
  list-style: none;
  float: left;
}

.menu li {
  position: relative;
  float: left;
}

.menu li a {
  color: #a6a6a6;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.menu li a:hover {
  background: #004D4D;
  color: #fff;
  -moz-box-shadow: 0 3px 10px 0 #CCC;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
  position: absolute;
  top: 25px;
  left: -40px;
  background-color: transparent;
  display: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.menu li ul li {
  background: rgba(171, 164, 173, 0.3);
  display: block;
  width: 150px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.menu li:hover ul, .menu li.over ul {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120%;
  background: rgba(0, 0, 0, 0.5);
}

.modal .conteudoModal {
  margin-left: 30%;
  width: 50%;
  min-height: 30vh;
  background: white;
  position: fixed;
  border-radius: 20px;
}

.modal .conteudoModal .inicioModal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9fr 1fr;
      grid-template-columns: 9fr 1fr;
}

.modal .conteudoModal .inicioModal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .conteudoModal .inicioModal div button {
  padding: 10px;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.modal .conteudoModal .inicioModal div button:hover {
  color: red;
}

.modal .conteudoModal .inicioModal div button:focus {
  outline: none;
}

.modal .conteudoModal .meioModal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.modal .conteudoModal .meioModal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.modal .conteudoModal .meioModal div:hover label {
  font-size: 25px;
}

.modal .conteudoModal .meioModal div:hover input {
  font-size: 18px;
}

.modal .conteudoModal .meioModal div:focus label {
  font-size: 25px;
}

.modal .conteudoModal .meioModal div:focus input {
  font-size: 18px;
}

.modal .conteudoModal .meioModal div label {
  font-size: 20px;
  margin-left: 25%;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.modal .conteudoModal .meioModal div input {
  width: 40%;
  background: none;
  height: 4%;
  padding: 5px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  font-size: 15px;
}

.modal .conteudoModal .meioModal div input:hover {
  height: 40px;
  font-size: 18px;
}

.modal .conteudoModal .meioModal div input:focus {
  outline: none;
  font-size: 18px;
}

.modal .conteudoModal .meioModal div input:focus .meioModal div label {
  font-size: 25px;
}

.modal .conteudoModal .meioModal div textarea {
  padding: 10px;
  margin: 10px;
}

.modal .conteudoModal .mensagemUnica {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-right: 10%;
}

.modal .conteudoModal .botoes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.modal .conteudoModal .botoes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.modal .conteudoModal .botoes div input[type=submit] {
  background: #06dd06;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: white;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.modal .conteudoModal .botoes div input[type=submit]:hover {
  background-color: green;
}

#msg {
  padding: 10px;
  background: rgba(255, 0, 0, 0.233);
  border: 2px solid red;
  color: white;
  display: block;
  height: 60%;
  border-radius: 10px;
}

.envioContexto {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  background: #F2F2F2;
  border: 0.5px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  margin-bottom: 10%;
}

.envioContexto p {
  margin: 0;
  padding: 0;
}

.envioContexto header {
  padding: 10px;
  width: 100%;
  height: 120px;
  border-bottom: 57px solid #004D4D;
  padding-left: 5%;
}

.envioContexto header h1 {
  font-size: 24px;
}

.envioContexto section {
  padding: 20px;
}

.envioContexto section div {
  padding: 20px;
}

.envioContexto span {
  color: #004D4D;
}

.envioContexto footer {
  border-top: 1px solid black;
  width: 100%;
  text-align: center;
  margin: 0;
}

.envioContexto footer div {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 100px;
}

.headadm {
  background-color: #161616;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 8fr 1.5fr;
      grid-template-columns: 1.5fr 8fr 1.5fr;
  height: 15vh;
}

.headadm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headadm div .opcoesAdm {
  font-size: 20px;
  margin-left: 5%;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.admAdd {
  background-color: #f2f2f2;
}

.admAdd h1 {
  color: #161616;
  text-align: center;
  margin-top: 10px;
}

.admAdd #cadastro {
  margin-bottom: 6%;
  background-color: #e7e7e7;
  width: 60%;
  border: 1px solid black;
  min-height: 25vh;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
}

.admAdd #cadastro .close {
  color: #004D4D;
  margin-left: 95%;
  margin-top: 50vh;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  font-size: 20px;
}

.admAdd #cadastro .close:hover {
  color: #DD0426;
}

.admAdd #cadastro .formulario {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.admAdd #cadastro .formulario div {
  padding: 5%;
  padding-left: 20%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admAdd #cadastro .formulario div select {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  background: none;
  padding: 10px;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  width: 50%;
}

.admAdd #cadastro .formulario div select:focus {
  background-color: rgba(252, 252, 252, 0.329);
  border: 2px solid #004D4D;
  border-radius: 10px;
  outline: 0px;
}

.admAdd #cadastro .formulario div input {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  background: none;
  padding: 10px;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  width: 50%;
}

.admAdd #cadastro .formulario div input:focus {
  background-color: rgba(252, 252, 252, 0.329);
  border: 2px solid #004D4D;
  border-radius: 10px;
  outline: 0px;
}

.admAdd #cadastro .formulario div.concluir {
  padding-left: 0;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: 3,4;
}

.admAdd #cadastro .formulario div.concluir .btn-concluir {
  margin-left: 0%;
}

.admAdd .pesquisaAdm {
  width: 50%;
  margin-left: 35%;
  margin-top: 2.5%;
}

.admAdd .pesquisaAdm input {
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  background: none;
  padding: 10px;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.admAdd .pesquisaAdm input:focus {
  border: 2px solid #004D4D;
  border-radius: 10px;
  outline: 0px;
}

.admAdd .pesquisaAdm a {
  color: #020069;
  border: 1px solid #020069;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.admAdd .pesquisaAdm a:hover {
  background-color: #020069a4;
  border: 1px solid #020069a4;
  color: white;
}

.admAdd .mostraDadosAdm {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  background: #e7e7e7;
  margin-top: 2.5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 10%;
  border: 0.5px solid rgba(0, 0, 0, 0.377);
}

.admAdd .mostraDadosAdm a {
  color: #004D4D;
}

.mostraUsuarioAdm .verUsuarioEdit {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.mostraUsuarioAdm h1 {
  margin-top: 5%;
  text-align: center;
  color: black;
}

.mostraUsuarioAdm section {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 20px;
  width: 50%;
  height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #DEDEDE;
}

.mostraUsuarioAdm section div {
  height: 100%;
  border-right: 1px solid black;
  padding: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-left: 10%;
  padding-top: 20px;
}

.mostraUsuarioAdm section div .estilizaBotaoRemover {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  width: 300px;
  height: 100px;
}

.mostraUsuarioAdm section div input {
  width: 200px;
  height: 35px;
}

.dropdown {
  position: relative;
  color: #c0c0c0;
  display: inline-block;
  cursor: pointer;
}

.dropdown:hover {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  color: white;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.tituloDisciplinas {
  background-color: white;
  text-align: center;
  font-size: 35px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
  color: black;
}

.dropdown-content:hover {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.dropdown-content a {
  font-size: 16px;
  width: auto;
  color: #c0c0c0;
}

.dropdown-content a:hover {
  border-radius: 15px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  font-size: 18px;
  color: red;
  background-color: #202020;
}

.linksTopicos {
  border: 1px solid black;
  /* margin-right: 10%; */
  text-align: center;
  background: #f7f7f77e;
  border: 0.5px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  width: 400px;
}

.topicoContexto {
  border: 0.5px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  padding: 20px;
  margin-bottom: 5%;
}

.containerCarrosel {
  /* margin-top: 10%; */
  height: 100%;
  margin-top: auto;
  /* background-color: rgba(255, 255, 255, 0.37); */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.your-class {
  margin-top: 5%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  /* background-color: rgba(0, 255, 255, 0.404); */
}

.your-class div {
  margin-left: 20px;
}

.perfilUsu {
  width: 60%;
  height: auto;
  background: #F2F2F2;
  border: 0.5px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.perfilUsu header {
  padding: 20px;
  text-align: center;
}

.perfilUsu header h1 {
  color: black;
}

.perfilUsu main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-left: 60px;
}

.perfilUsu main p {
  color: #000000;
}

.forumContainerMain {
  border: 2px solid #004D4D;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.forumContainerMain header {
  text-align: center;
  padding: 20px;
}

.forumContainerMain header h1 {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.forumContainerMain .corpoDoForum {
  margin-left: 27px;
  min-height: 150px;
}

.forumContainerMain .corpoDoForum span {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.forumContainerMain footer {
  margin-bottom: 0;
  height: 50px;
  border-top: 1px solid black;
  text-align: end;
}

.forumContainerMain footer a {
  margin: 10px;
  color: #004D4D;
  text-decoration: none;
  margin-top: 15px;
}

.forumContainerResposta {
  border: 2px solid #004D4D;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 5%;
}

.forumContainerResposta header {
  text-align: start;
  padding: 20px;
  padding-left: 27px;
}

.forumContainerResposta header h1 {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.forumContainerResposta .corpoDoForum {
  margin-left: 27px;
  min-height: 150px;
}

.forumContainerResposta .corpoDoForum span {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.forumContainerResposta footer {
  margin-bottom: 0;
  height: 50px;
  border-top: 1px solid black;
  text-align: end;
}

.forumContainerResposta footer a {
  margin: 10px;
  color: #004D4D;
  text-decoration: none;
  margin-top: 15px;
}

.reduzBotao {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 70px;
}
/*# sourceMappingURL=plataforma.css.map */